.card {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  padding-bottom: 40px; /* might have to delete this style, but needed space at bottom for bottom border to look correct */
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px 16px;
    padding: 20px 0;
  }

  .card {
    padding: 0;
  }
}
