.preview-img__container {
  display: flex;
  gap: 12.5px;
}

.preview__modal-img {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.preview__title {
  margin: 8px 0 0 0;
  color: white;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  display: inline-block;
}

.preview__close-btn {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  opacity: 100%;
  background-image: url("../images/preview-close-icon.svg");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .preview__container {
    flex-direction: column-reverse;
  }

  .preview__close-btn {
    align-self: flex-end;
  }
}
